:root {
    --color-primary: #231942; /* Example primary color */
    --color-secondary: #5e548e; /* Example secondary color */
    --color-accent: #9f86c0; /* Example accent color */
    --color-text: #be95c4; /* Example text color */
    --color-background: #e0b1cb; /* Example background color */
}
html {
    min-width: 350px;
}
body {
    margin: 0;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
}

.container {
    height: 100%;
}

.toggles {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 20px 0px 0px;
    /* width: 100%; */
}

.toggles img {
    height: 40px;
    width: 56px;
}

.toggles input {
    position: absolute;
    opacity: 0;
}

.toggles input + img {
    cursor: pointer;
}

.toggles input:checked + img {
    outline: 3px solid #1d1d1d;
}

main {
    /* height: 100%; */
    /* height: 100vh;; */
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.drums {
    /* display: flex; */
    /* width: 100%; */
    /* justify-content: center; */
    transform: scale(3);
}

.drums svg {
    height: auto;
    width: 400px;
}

.drumhit {
    fill: red;
    background-color: red;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: black;
}

.buttonContainerWKey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80px;
    height: 80px; */
}

.goats {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    /* align-items: end; */
    padding-bottom: 100px;
}

.goatButton {
    border: none;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.key {
    display: none;
}

.keyboard {
    display: none;
}

/* Media queries */

@media screen and (min-width: 1340px) {
    .main {
        /* gap: 200px; */
    }

    .drums {
        transform: scale(2);
        margin-bottom: 130px;
    }
    .goats {
        gap: 60px;
        width: 90vw;
        /* margin-bottom: 6%; */
    }

    .key {
        display: block;
    }

    .keyboard {
        width: 90vw;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .keyboardKey {
        height: 100px;
        width: 100px;
        border-radius: 20px;
        border: solid 5px #1d1d1d;
        background-color: gray;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .drumhit {
        fill: red;
        background-color: red;
    }

    h1 {
        text-shadow: 5px 5px 1px #1d1d1d;
    }

    .left,
    .right {
        display: flex;
        gap: 2px;
    }
}
