:root {
    --color-primary: #231942; /* Example primary color */
    --color-secondary: #5e548e; /* Example secondary color */
    --color-accent: #9f86c0; /* Example accent color */
    --color-text: #be95c4; /* Example text color */
    --color-background: #e0b1cb; /* Example background color */
}
html {
    min-width: 350px;
}
body {
    margin: 0;
    min-width: 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-background);
}

.toggles {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 20px 0px 0px;
    /* width: 100%; */
}

.toggles img {
    height: 40px;
    width: 56px;
}

.toggles input {
    position: absolute;
    opacity: 0;
}

.toggles input + img {
    cursor: pointer;
}

.toggles input:checked + img {
    outline: 3px solid #1d1d1d;
}

main {
    /* height: 100%; */
    /* height: 100vh;; */
    display: flex;
    justify-content: center;
    /* align-content: end; */
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.drums {
    display: flex;
    /* width: 100%; */
    justify-content: center;
}

.drums img {
    height: auto;
    width: 400px;
}

.buttonsRelContainerdrum1 {
    width: 0;
    position: relative;
    left: -100%;
    top: 52%;
}
.buttonsRelContainerdrum2 {
    width: 0;
    position: relative;
    left: -95%;
    top: 28.5%;
}
.buttonsRelContainerdrum3 {
    width: 0;
    position: relative;
    left: -79%;
    top: 1%;
}
.buttonsRelContainerdrum4 {
    width: 0;
    position: relative;
    left: -67%;
    top: 22%;
}
.buttonsRelContainerdrum5 {
    width: 0;
    position: relative;
    left: -70%;
    top: 50%;
}
.buttonsRelContainerdrum6 {
    width: 0;
    position: relative;
    left: -49%;
    top: 24%;
}
.buttonsRelContainerdrum7 {
    width: 0;
    position: relative;
    left: -41%;
    top: 0.5%;
}
.buttonsRelContainerdrum8 {
    width: 0;
    position: relative;
    left: -30%;
    top: 36%;
}
.buttonsRelContainerdrum9 {
    width: 0;
    position: relative;
    left: -37%;
    top: 62%;
}

.drum1 {
    height: 51px;
    width: 110px;
    border-radius: 70px;
    transform: rotate(350deg);
    background-color: #1d1d1d;
}
.drum2 {
    height: 51px;
    width: 110px;
    border-radius: 70px;
    transform: rotate(350deg);
    background-color: #1d1d1d;
}
.drum3 {
    height: 51px;
    width: 80px;
    border-radius: 70px;
    transform: rotate(350deg);
    background-color: #1d1d1d;
}
.drum4 {
    height: 51px;
    width: 70px;
    border-radius: 70px;
    transform: rotate(350deg);
    background-color: #1d1d1d;
}
.drum5 {
    height: 41px;
    width: 75px;
    border-radius: 70px;
    transform: rotate(360deg);
    background-color: #1d1d1d;
}
.drum6 {
    height: 41px;
    width: 70px;
    border-radius: 70px;
    transform: rotate(370deg);
    background-color: #1d1d1d;
}
.drum7 {
    height: 46px;
    width: 95px;
    border-radius: 70px;
    transform: rotate(360deg);
    background-color: #1d1d1d;
}
.drum8 {
    height: 51px;
    width: 120px;
    border-radius: 70px;
    transform: rotate(382deg);
    background-color: #1d1d1d;
}
.drum9 {
    height: 35px;
    width: 80px;
    border-radius: 70px;
    transform: rotate(380deg);
    background-color: #1d1d1d;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: black;
}

.buttonContainerWKey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80px;
    height: 80px; */
}

.goats {
    width: 70vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    /* align-items: end; */
    padding-bottom: 100px;
}

.goatButton {
    border: none;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.key {
    display: none;
}

.keyboard {
    display: none;
}

/* Media queries */

@media screen and (min-width: 1340px) {
    .goats {
        gap: 60px;
        width: 90vw;
        /* margin-bottom: 6%; */
    }

    .key {
        display: block;
    }

    .keyboard {
        width: 90vw;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .keyboardKey {
        height: 100px;
        width: 100px;
        border-radius: 20px;
        border: solid 5px #1d1d1d;
        background-color: gray;
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    h1 {
        text-shadow: 5px 5px 1px #1d1d1d;
    }

    .left,
    .right {
        display: flex;
        gap: 2px;
    }
}
