body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}

.container{
    /* height: 100vh; */
}

main{
    /* height: 100%; */
    /* height: 100vh;; */
  
}


.goats{
    
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* justify-content: center; */
    /* align-items: end; */
    padding-bottom: 100px;
}

.goatButton{
    border: none;
    background-size: cover;
    height: 100px;
    width: 100px;
}